<ion-card>

  <ion-card-header>
    <ion-card-title>Círculo</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <img src="assets/img/img1.png">

    <ion-item>
      <ion-label position="floating">Radio</ion-label>
      <ion-input type="number" [(ngModel)]="radio"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="calcular()">
      Calcular perímetro
    </ion-button>

    <p *ngIf="resultadoVisible">
      Perímetro: {{perimetro}}
    </p>

  </ion-card-content>

</ion-card>
